/* common.css */
body{
    background-color: #f5f5f5;
}
.content{
    width: 900px;
    margin: 0 auto;
    /* position: absolute;
    margin: auto;
    left: 0; right: 0; */
}
/* @media (max-width:1140px) {
    .content{
        margin-left: calc(182px + 56px);
    }
} */
.content .tabMenu{}
.content .tabMenu>.tabGroup{
    display: flex;
    justify-content: space-between;
}
.content .tabMenu>.tabGroup>li{
    width: calc(25% - 1px);
    height: 34px;
    margin: 0 1px;
    font-size: 14px; font-weight: bold;
    line-height: 30px; text-align: center;
    color: #000; background-color: #eee;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
    cursor: pointer;
}
.content .tabMenu>.tabGroup>li.clicked2{
    background: linear-gradient(#666, #000);
    color: #fff;
}
.content .tabMenu>.tabGroup>li.top{
    width: 47px;
    background-color: #aaa;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    color: #fff; font-weight: bold;
    line-height: 14px;
}
.content .tabMenu>.tabGroup>li.top>p{
    font-size: 13px;
}
.content .tabMenu>.subGroup{
    width: 900px;
    margin-top: 30px;
    padding: 30px 20px 40px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

/* content 2~3 _common.css */
.content .tabMenu>.subGroup>.tabMenu .cList>.close>.hdr{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.content .tabMenu>.subGroup>.tabMenu .cList>.close>.hdr>strong{
    line-height: 25px;
    color: #000;
}
.content .tabMenu>.subGroup>.tabMenu .cList>.close .fold{
    display: none;
    line-height: 45px; cursor: pointer;
}
.content .tabMenu>.subGroup>.tabMenu .cList>.close .more{
    line-height: 45px; cursor: pointer;
}




li.divBar{
    color: #eee;
}
button{
    cursor: pointer;
    font-size: 12px; font-weight: bold;
    line-height: 10px;
    border-radius: 4px;
}
button.wh{
    color: #222;
    border: 1px solid #eee;
    background-color: #fff;
}
button.gr{
    color: #fff;
    border: none;
    background-color: #444;
}
button.bk{
    color: #fff;
    border: none;
    background: linear-gradient(#666, #000);
}

div.pageNum{
    width: 480px; margin: 20px auto;
    position: relative;
    font-size: 14px;
    line-height: 14px;
}
div.pageNum>.btn{
    display: flex;
    justify-content: space-between;
}
div.pageNum>.onePage{
    width: 416px;
    position: absolute;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
}
div.pageNum>.onePage>li{
    color: #000;
}
div.pageNum>.numWrap{
    display: flex;
    justify-content: space-between;
    width: 306px;
    position: absolute;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
}
div.pageNum li{cursor: pointer;}
div.pageNum>.numWrap>li.this{
    font-weight: bold;
    text-decoration: underline;
}
