/* content2.css */
button.wh{
    color: #222; line-height: 10px;
    font-size: 12px; font-weight: bold;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 4px;
}
.content{
    width: 902px; margin: 0 auto;
}
.content .tabMenu{
    margin: 75px 0;
}
.content .tabMenu>.tabGroup{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.content .tabMenu>.tabGroup>li{
    width: calc(25% - 1px);
    height: 34px;
    margin: 0 1px;
    font-size: 14px; font-weight: bold;
    line-height: 30px; text-align: center;
    color: #000; background-color: #eee;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
    cursor: pointer;
}
.content .tabMenu>.tabGroup>li.clicked2{
    background: linear-gradient(#666, #000);
    color: #fff;
}
.content .tabMenu>.tabGroup>li.top{
    width: 47px;
    background-color: #aaa;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    color: #fff; font-weight: bold;
    line-height: 14px;
}
.content .tabMenu>.tabGroup>li.top>p{
    font-size: 13px;
}

.content .tabMenu>.subGroup{}
.content .tabMenu>.subGroup>.sub2{}
.content .tabMenu>.subGroup>.sub2>.cList{}
.content .tabMenu>.subGroup>.sub2>.cList>.close{}
.content .tabMenu>.subGroup>.sub2>.cList>.close>.hdr{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 2px solid #222;

}
.content .tabMenu>.subGroup>.sub2>.cList>.close>.hdr>strong{
    line-height: 25px;
    color: #000;
}
.content .tabMenu>.subGroup>.sub2>.cList>.close>.hdr>button{
    width: 80px; height: 25px;
}
.content .tabMenu>.subGroup>.sub2>.cList>.close>.segWrap{
    border-top: 1px solid #ccc;
}
.content .tabMenu>.subGroup>.sub2>.cList>.close>.segWrap>.seg{}
.content .tabMenu>.subGroup>.sub2>.cList>.close>.segWrap>.seg>li{
    float: left; line-height: 45px;
}
.content .tabMenu>.subGroup>.sub2>.cList>.close>.segWrap>.seg>li.bar{
    margin: 0 30px; color: #eee;
}
.content .tabMenu>.subGroup>.sub2>.cList>.close>.segWrap>.more{}
.content .tabMenu>.subGroup>.sub2>.cList>.close>.segWrap>.more>.ttl{}
.content .tabMenu>.subGroup>.sub2>.cList>.close>.segWrap>.more>.btn{}
.content .tabMenu>.subGroup>.sub2>.cList>.open{}
.content .tabMenu>.subGroup>.sub2>.cList>.open>.table{}
.content .tabMenu>.subGroup>.sub2>.cList>.open>.table>.ttl{}
.content .tabMenu>.subGroup>.sub2>.cList>.open>.table>.ttl>li{}
.content .tabMenu>.subGroup>.sub2>.cList>.open>.table>.ctt{}
.content .tabMenu>.subGroup>.sub2>.cList>.open>.table>.ctt>li{}
.content .tabMenu>.subGroup>.sub2>.cList>.open>p{}
.content .tabMenu>.subGroup>.sub2>.cList>.open>button{}
.content .tabMenu>.subGroup>.sub2>p{}
