/* style.css */
a{
  display: block;
  width: 100%; height: 100%;
}
.hideTab{
  display: none;
}
div.content{
  background-color: #f5f5f5;
  width: 1250px; margin: 0 auto;
}
/* content>header */
div.content>header{
  overflow: hidden;
}
div.content>header>.topMenu{
  float: left;
  width: 200px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}
div.content>header>.topMenu>.list{}
div.content>header>.topMenu>.list>li{
  font-weight: bold; cursor: pointer;
}
div.content>header>.topMenu>.list>li.now{
  text-decoration: underline; color: #000;
}
div.content>header>.topMenu>.list>li:hover{
  color: #000;
}
div.content>header>.topMenu>.iconWrap{}
div.content>header>.topMenu>.iconWrap>div{
  width: 15px; text-align: center;
}
div.content>header>.topMenu>.iconWrap>div:hover{
  color: #000;
}
div.content>header>.topMenu>.iconWrap>div:not(.ic02){
  font-size: 13px;
}
div.content>header>nav{
  padding: 40px 0;
  float: left;
  margin-left: 50px;
  width: 570px;
  display: flex;
  justify-content: space-between;
}
div.content>header>nav>.menu{
  overflow: hidden; cursor: pointer;
}
div.content>header>nav>.menu>div{
  width: 26px; height: 40px;
  float: left;
  background-size: cover;
  background-position: center;
}
div.content>header>nav>.menu>h3{
  float: left; height: 20px;
  margin-top: 10px;
  padding-right: 26px; text-indent: 5px;
  font-size: 16px; font-weight: bold;
  color: #aaa;
  border-right: 2px solid #ddd;
}
/* 아이콘 클릭시 색상 바뀜 */
div.content>header>nav>.menu>.icon1{background-image: url('../img/mIcon01.png');}
div.content>header>nav>.menu>.icon2{background-image: url('../img/mIcon04.png');}
div.content>header>nav>.menu>.icon3{background-image: url('../img/mIcon03.png');}
div.content>header>nav>.menu>.icon4{background-image: url('../img/mIcon04.png');}
div.content>header>nav>.clicked>.icon1.selected{background-image: url('../img/sIcon01.png');}
div.content>header>nav>.clicked>.icon2.selected{background-image: url('../img/mIcon02.png');}
div.content>header>nav>.clicked>.icon3.selected{background-image: url('../img/sIcon03.png');}
div.content>header>nav>.clicked>.icon4.selected{background-image: url('../img/sIcon04.png');}
div.content>header>nav>.clicked>h3{
  color: #eb6202;
}
/* content>section */
div.content>section{
  overflow: hidden;
}
/* content>section>nav common_style */
div.content>section>.nav{
  width: 190px;
  float: left;
}
div.content>section>.nav>.navGroup li .gnb{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
div.content>section>.nav>.navGroup li>.lnb{
  margin-left: 30px;
  padding: 10px 0;
}
div.content>section>.nav>.navGroup li>.lnb>li{
  cursor: pointer;
}
/* content>section>nav .open_style */
div.content>section>.nav>.navGroup>.open{
  padding: 15px 20px;
  font-weight: bold;
  line-height: 30px;
  background-color: #eb6202; color: #fff;
  position: relative;
}
div.content>section>.nav>.navGroup>.open>.iconPicture{
  width: 26px; height: 32px;
  position: absolute;
  right: -13px; top: 60px;
  z-index: 10;
  background-image: url('../img/iconPicture.png');
  background-size: cover;
  background-position: center;
}
div.content>section>.nav>.navGroup>.open>p{
  padding: 10px 0;
  margin-left: 30px;
  font-family: 'Adobe Myungjo std','HCR Batang', serif;
  font-size: 13px;
  line-height: 20px;
}
/* content>section>nav .close_style */
div.content>section>.nav>.navGroup>.shadowWrap{
  box-shadow: 2px 0 2px rgba(0,0,0,0.3);
  padding: 0 20px;
}
div.content>section>.nav>.navGroup>.shadowWrap>.close{
  padding: 15px 0;
  font-weight: bold;
  line-height: 30px;
  border-bottom: 2px solid #eee;
}
div.content>section>.nav>.navGroup>.shadowWrap>.close:last-child{
  border-bottom: none;
}
div.content>section>.nav>.navGroup>.shadowWrap>.close>.gnb>.ttl{
  color: #000;
}
div.content>section>.nav>.navGroup>.shadowWrap>.close>.gnb>.ttl>span{
  color: #999;
}
div.content>section>.nav>.navGroup>.shadowWrap>.close>.lnb{
  margin-left: 30px;
}
/* content>section>tabMenu*/
div.content>section>.tabGroup{
  float: left;
  margin-left: 50px;
}
/* content>section>tapMenu>공지사항*/
div.content>section>.tabGroup>.notice{
  overflow: hidden;
}
div.content>section>.tabGroup>.notice>header{
  float: left; overflow: hidden;
  color: #000;
}
div.content>section>.tabGroup>.notice>header>u{
  float: left; font-weight: bold;
}
div.content>section>.tabGroup>.notice>header>.btn{
  float: left; margin-left: 10px;
}
div.content>section>.tabGroup>.notice>.segment{
  float: left; margin-left: 10px;
}
/* content>section>tapMenu>대분류 tab title부분*/
div.content>section>.tabGroup>.tabMenu{
  width: 950px;
  padding-top: 20px;
}
div.content>section>.tabGroup>.tabMenu>.tabGroup{
  display: flex;
  justify-content: space-between;
}
div.content>section>.tabGroup>.tabMenu>.tabGroup>li{
  width: 25%; height: 40px;  margin: 0 1px;
  border: 1px solid #bbb;
  background: linear-gradient(#eee, #ccc);
  text-align: center; font-weight: bold;
  line-height: 40px; color: #000; font-size: 14px;
  cursor: pointer;
}
div.content>section>.tabGroup>.tabMenu>.tabGroup>li.clicked2{
    background: linear-gradient(#333, #000); color: #fff;
}
/* content>section>subGroup 대분류 tab title(인터넷강의)에 관한 소분류 tab title */
div.content>section>.tabGroup>.tabMenu>.subGroup{
  padding-top: 30px;
}
div.content>section>.tabGroup>.tabMenu>.subGroup>.tabMenu{}
div.content>section>.tabGroup>.tabMenu>.subGroup>.tabMenu>.tabGroup2{
  width: 450px;
  display: flex;
  justify-content: space-between;
}
div.content>section>.tabGroup>.tabMenu>.subGroup>.tabMenu>.tabGroup2>li{
  width: 25%; height: 40px; margin: 0 2px;
  box-shadow: 2px 1px 2px rgba(0,0,0,0.2);
  border-radius: 5px 5px 0 0;
  background-color: #eee;
  text-align: center; font-weight: bold;
  line-height: 40px; color: #000;
  cursor: pointer;
}
div.content>section>.tabGroup>.tabMenu>.subGroup>.tabMenu>.tabGroup2>li.clicked3{
  background-color: #fff;
}
/* content>section>subGroup 소분류 tab title(환급반)내용 */
div.content>section>.tabGroup>.tabMenu>.subGroup>.tabMenu>.subGroup2{
  background-color: #fff; padding: 20px 20px 0;
}
div.content>section>.tabGroup>.tabMenu>.subGroup>.tabMenu>.subGroup2>div.sub01{}

/* sub01의 수강권종류 */
div.content>section>.tabGroup>.tabMenu>.subGroup>.tabMenu>.subGroup2>div.sub01>.stdProgram{
  overflow: hidden;
}
div.content>section .subGroup2>div.sub01>.stdProgram>.hdr{
  width: 130px; height: 40px;
  float: left;
  line-height: 38px; text-align: center;
  font-weight: bold; color: #000;
  border-radius: 5px 0 0 5px; border: 2px solid #eee;
  background-color: #eee;
}
div.content>section .subGroup2>div.sub01>.stdProgram>.eClass{
  width: 780px; height: 40px;
  float: left;
  overflow: hidden;
  line-height: 38px;
  border-radius: 0 5px 5px 0; border: 2px solid #eee;
  background: linear-gradient(#fff, #eee);
}
div.content>section .subGroup2>div.sub01>.stdProgram>.eClass>.cl{
  width: calc(100% - 20px); float: left;
  text-indent: 10px; color: #000;
}
div.content>section .subGroup2>div.sub01>.stdProgram>.eClass>.cl>span{
  font-weight: bold;
}
div.content>section .subGroup2>div.sub01>.stdProgram>.eClass>.btn{
  width: 20px; float: left;
  cursor: pointer;
}
/* sub01의 버튼들과 바로가기링크 */
div.content>section>.tabGroup>.tabMenu>.subGroup>.tabMenu>.subGroup2>div.sub01>.menu{
  padding: 20px 0;
}
div.content>section .subGroup2>div.sub01>.menu{
  display: flex;
  justify-content: space-around;

}
div.content>section .subGroup2>div.sub01>.menu>.btnWrap{
  width: 460px;
  display: flex;
  justify-content: space-around;
}
div.content>section .subGroup2>div.sub01>.menu>.btnWrap>button{
  height: 30px;
  margin-right: 5px;
  line-height: 25px; font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
}
div.content>section .subGroup2>div.sub01>.menu>.btnWrap>.wh{
  background: linear-gradient(#fff, #eee);
  border: 1px solid #eee;
}
div.content>section .subGroup2>div.sub01>.menu>.btnWrap>.wh>i{
  margin-right: 30px; font-size: 10px;
}
div.content>section .subGroup2>div.sub01>.menu>.btnWrap>.bk{
  background: linear-gradient(#999, #000);
  border: 1px solid #000;
  color: #fff;
}
div.content>section .subGroup2>div.sub01>.menu>.linkWrap{
  width: calc(100% - 460px);
  overflow: hidden;
}
div.content>section .subGroup2>div.sub01>.menu>.linkWrap>div{
  float: right;
  line-height: 30px; font-weight: bold;
  cursor: pointer;
}
div.content>section .subGroup2>div.sub01>.menu>.linkWrap>.link02{
  margin-left: 10px;
}
/* sub01의 미션현황 */
div.content>section>.tabGroup>.tabMenu>.subGroup>.tabMenu>.subGroup2>div.sub01>.mission{}
div.content>section .subGroup2>div.sub01>.mission>.open{}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 2px solid #eee;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary>div{
  display: flex;
  justify-content: space-between;
  width: calc(50% - 5px);
}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary>.fl{}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary>.fl>div{
  height: 20px;
  font-weight: bold;
  text-align: center;
  border-right: 1px solid #eee;
  padding-right: 15px;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary>.fl>.group{
  height: 20px;
  display: flex;
  justify-content: center;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary>.fl>.group>.graph{
  margin: 6.5px 10px;
  width: 100px; height: 7px;
  border-radius: 2px;
  background-color: #ddd;
  position: relative;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary>.fl>.group>.graph>.achieve{
  width: 64%; height: 7px;
  border-radius: 2px;
  background-color: #444;
  position: absolute;
  left: 0; top: 0; bottom: 0;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary>.fl>div>span{
  font-weight: bold; color: #000;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary>.fr{}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary>.fr>u{}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary>.fr>.btn{
  font-size: 10px;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.summary>.fr>h4{
  font-weight: bold; color: #333;
  cursor: pointer;
}
  /* sub01의 미션목록 */
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList{
  display: flex;
  justify-content: space-between;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div{
  width: 50%;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>.fl{}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>.fr{
  border-left: 2px solid #ddd;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>.fr>.msList{
  padding-left: 10px;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.msList{
  display: flex;
  justify-content: flex-start;
  padding: 7.5px 0; height: 42px;
  border-bottom: 2px solid #eee;
}

div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml1>.graph>.achieve{width: 43%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml2>.graph>.achieve{width: 33%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml3>.graph>.achieve{width: 0%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml4>.graph>.achieve{width: 55%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml5>.graph>.achieve{width: 66%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml6>.graph>.achieve{width: 0%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml7>.graph>.achieve{width: 36%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml8>.graph>.achieve{width: 100%;}

div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.msList>.graph{
  width: 100px; height: 25px;
  position: relative;
  background-color: #ddd;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 1px -1px 1px rgba(0,0,0,0.3);
}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.msList>.graph>.achieve{
  width: 43%; height: 100%;
  position: absolute;
  left: 0; top: 0; bottom: 0;
  background-color: #888;
  color: #fff; font-weight: bold;
  line-height: 25px; text-indent: 10px;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml1>.graph>.achieve{width: 43%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml2>.graph>.achieve{width: 33%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml3>.graph>.achieve{width: 0%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml4>.graph>.achieve{width: 55%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml5>.graph>.achieve{width: 66%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml6>.graph>.achieve{width: 0%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml7>.graph>.achieve{width: 36%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.ml8>.graph>.achieve{width: 100%;}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.msList>h4{
  font-weight: bold; line-height: 25px;
  margin: 0 10px; color: #000;
}
div.content>section .subGroup2>div.sub01>.mission>.open>.mssList>div>.msList>button{
  height: 25px;
  font-size: 12px; font-weight: bold;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

  /* sub01의 미션 공지사항 */
div.content>section .subGroup2>div.sub01>.mission>.open>ul{
  padding: 10px 0;

}
div.content>section .subGroup2>div.sub01>.mission>.open>ul>li{
  list-style: initial;
  margin-left: 20px;
}
div.content>section .subGroup2>div.sub01>.mission>.close{
  display: flex;
  justify-content: center;
  line-height: 40px;
  background-color: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
}
div.content>section .subGroup2>div.sub01>.mission>.close>.ttl{
  line-height: 40px; font-weight: bold;
  color: #000;
}
div.content>section .subGroup2>div.sub01>.mission>.close>.btn{
  margin-left: 10px;
}

/* sub01의 수강중인 강좌 */
div.content>section .subGroup2>div.sub01>.ing{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}
div.content>section .subGroup2>div.sub01>.ing>.header{

}
div.content>section .subGroup2>div.sub01>.ing>.header>h2{
  font-size: 16px; color: #000;
  font-weight: bold;
}
div.content>section .subGroup2>div.sub01>.ing>.btnWrap{
}
div.content>section .subGroup2>div.sub01>.ing>.btnWrap>button{
  height: 30px; line-height: 25px;
  background: linear-gradient(#fff, #eee);
  border: 1px solid #eee; border-radius: 3px;
  font-size: 12px; color: #000; font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}
